@charset "UTF-8";
@import url("fmail_table.css");
@import url("fmail_dl.css");
@import url("fmail_label.css");

div#mailfrom_hidden_object {
    width: 1px;
    height: 1px;
    overflow: hidden;
}

div#twex {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    margin: 0px;
    text-align: center;
}

img#loading_proccess_image {
    position: absolute;
    z-index: 1000;
}

/* tableパターン */
table div.fmail_must {
    float: right;
    width: 36px;
    height: 20px;
    overflow: hidden;
    margin: 7px 0px 0px 5px;
    background: #ed6862;
    color: #fff;
    text-indent: -50000px;
    position: relative;
}

table div.fmail_must:before {
    position: absolute;
    content: "必須";
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    text-indent: 0px;
    font-size: 12px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

table div.fmail_or {
    float: right;
    width: 60px;
    height: 16px;
    overflow: hidden;
    margin: 0px 0px 0px 5px;
    background-image: url(../images/mfp_or.gif);
    text-indent: -50000px;
}

/* dlパターン */
dl dt span.name {
    display: inline-block;
    overflow: hidden;
    height: 22px;
}

dl div.fmail_must {
    display: inline-block;
    overflow: hidden;
    margin: 0 0 0 5px;
    padding: 0;
    width: 30px;
    height: 22px;
    background: url(../images/mfp_must.gif) no-repeat;
    background-size: 30px;
    background-size: 30px auto;
    background-position: center center;
    text-indent: -50000px;
    float: right;
}

dl div.fmail_or {
    display: inline-block;
    overflow: hidden;
    margin: 0 0 0 5px;
    padding: 0;
    width: 60px;
    height: 22px;
    background: url(../images/mfp_or.gif) no-repeat;
    background-position: center center;
    text-indent: -50000px;
}

/* テーブル分割 */
#fmail tr.fmail_separate th {
    padding: 0;
    width: 150px;
    height: 100px;
    text-indent: -9999px;
}

#fmail tr.fmail_separate td {
    padding: 0;
    width: 430px;
    height: 100px;
    vertical-align: top;
}

#fmail tr.fmail_separate td div.fmail_position {
    position: relative;
}

#fmail tr.fmail_separate td div.fmail_position .elements {
    position: absolute;
    top: 0;
    left: -160px;
    margin: 10px;
    padding: 0;
    width: 580px;
    background: #EEF;
    z-index: 99;
    display: none;
}

/* テーブル分割　タイトル */
#fmail tr.fmail_separate_title th {
    padding: 0;
    width: 150px;
    height: 40px;
    text-indent: -9999px;
}

/* タイトル枠の横幅と高さ */
#fmail tr.fmail_separate_title td {
    padding: 0;
    width: 430px;
    height: 40px;
    vertical-align: top;
}

/* タイトル枠の横幅と高さ */
#fmail tr.fmail_separate_title td div.fmail_position {
    position: relative;
}

#fmail tr.fmail_separate_title td div.fmail_position .elements {
    position: absolute;
    top: 0;
    left: -160px;
    margin: 10px;
    padding: 5px;
    width: 570px;
    height: 20px;
    background: #66AAEE;
    /* タイトル背景色 */
    z-index: 99;
}

#fmail tr.fmail_separate_title td div.fmail_position .elements p {
    line-height: 20px;
    /* タイトル文字の高さ */
    font-weight: bold;
    /* タイトル文字の太さ */
    font-size: 16px;
    /* タイトル文字の大きさ */
    display: none
}

/* 必須項目チェック */
#fmail tr.fmail_separate_mustchecker th {
    padding: 0;
    width: 150px;
    height: 0;
    text-indent: -9999px;
    border-bottom-width: 0;
}

#fmail tr.fmail_separate_mustchecker td {
    padding: 0;
    width: 430px;
    height: 0;
    vertical-align: top;
    border-bottom-width: 0;
}

#fmail tr.fmail_separate_mustchecker td div.fmail_position_mustchecker .elements_mustchecker {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    margin: 0;
    padding: 10px;
    width: 150px;
    height: 50px;
    background: #CCC;
    border: 1px solid #333;
    border-radius: 10px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
}

#fmail tr.fmail_separate_mustchecker td div.fmail_position_mustchecker .elements_mustchecker .caution_mustchecker {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #FF3333;
}

/* ------------------------------------------ */
div#fmail_thankspage {
    text-align: center;
}

span#fmail_title_default,
span#fmail_title_confirm,
span#fmail_title_error,
span#fmail_title_thanks {
    display: block;
    width: 100%;
    height: 48px;
    overflow: hidden;
    text-indent: -50000px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

span#fmail_title_default {
    background-image: url(../images/title_default.png);
}

span#fmail_title_confirm {
    background-image: url(../images/title_confirm.png);
}

span#fmail_title_error {
    background-image: url(../images/title_error.png);
}

span#fmail_title_thanks {
    background-image: url(../images/title_thanks.png);
}

form.fmail_submit,
form.fmail_cancel {
    float: left;
    padding: 5px;
}

form#fmail {
    margin: 0px auto 0px auto;
    padding: 0px;
}

span.fmail_error {
    display: block;
    padding: 2px 0px 2px 17px;
    background-image: url(../images/mfp_error.gif);
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 10px
}

span.fmail_example {
    font-size: 12px;
    color: #666666;
}

p.fmail_note {
    padding: 5px 0px 0px 0px;
    font-size: 12px;
    color: #666666;
}

ol.fmail_checkbox_list {
    width: 100%;
}

ol.fmail_radio_list li,
ol.fmail_checkbox_list li {
    float: left;
    list-style: none;
}

div.fmail_error_message {
    margin: 10px;
    padding: 5px;
    border: solid 1px #FF0000;
    background-color: #FFEEEE;
    text-align: center;
    color: #FF0000;
    font-size: 12px;
}

#fmail input.fmail {
    margin: 1px 0;
    padding: 3px;
    width: 170px;
}

#fmail li input.fmail {
    width: auto;
}

#fmail select.fmail {
    padding: 5px 2px;
    visibility: inherit !important
}

#fmail select {
    visibility: visible !important;
}

#fmail textarea.fmail {
    padding: 2px;
    width: 100% !important;
    box-sizing: border-box;
    min-height: 80px;
    height: auto;
    max-height: initial;
    font-family: var(--font-main);
}

#fmail #d_en1245939490 textarea.fmail,
#en1591873483 {
    width: 100% !important;
}

#fmail input.fmail_file {
    margin: 0 !important;
    line-height: 20px;
    width: 300px;
}

#fmail input.ffcancel {
    margin-top: 2px;
    margin-left: 3px;
    padding: 2px;
}

/*-------------------------------------------------------*/
/*送信ボタンを画像化したい場合は下記を変更ください       */
/* 確認画面へ進む ./fmail/fmail.lib/submit.confirm.js    */
/* 送信           ./fmail/fmail.lib/submit.send.js       */
/* 前のページへ   ./fmail/fmail.lib/submit.cancel.js     */
/* 上記ファイル内のコメントアウト切り替えを行う          */
/*-------------------------------------------------------*/
/*ボタンの位置*/
.button {
    width: 100%;
    margin-top: auto;
    text-align: center;
    margin-bottom: 0px;
}

/*素ボタンの高さ*/
.button input.default_button {
    height: 40px;
    padding: 10px;
}

.button form.fmail_cancel {
    width: 50%;
    text-align: right;
}

.button form.fmail_submit {
    width: 50%;
    text-align: left;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* End hide from IE-mac */
/*確認ボタン*/
.submit_confirm_button {
    width: 280px;
    height: 70px;
    border-width: 0;
    border-style: none;
    cursor: pointer;
}


/*送信ボタン*/
.submit_send_button {
    width: 280px;
    height: 70px;
    border-width: 0;
    border-style: none;
    cursor: pointer;
}



/*戻るボタン*/
.submit_cancel_button {
    width: 280px;
    height: 70px;
    border-width: 0;
    border-style: none;
    cursor: pointer;
}

/*送信完了画面*/
.site_top a {
    display: block;
    width: 280px;
    height: 70px;
    margin: 1em auto;
    border-width: 0;
    border-style: none;
    text-align: center;
    text-indent: -9999px;
}


.site_top a {
    text-indent: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_confirm_button,
.submit_send_button,
.submit_cancel_button,
.site_top a {
   width: 354px; height: 60px; border-radius: 999px;background: url('../../images/ic-right.png') no-repeat right 25px center /39px var(--organ);font-size: 24px; color: #fff;text-decoration: none;font-weight:500
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   
}
.submit_cancel_button{background: url('../../images/ic-left.png') no-repeat left 25px center /39px var(--organ);}

/*郵便番号のボタン*/
form#fmail input.postcode {
    width: 130px !important;
    padding: 5px 10px 5px;
    position: relative;
    top: -3px;
    line-height: 26px;
    background: var(--scolor);
    border: 1px solid var(--scolor);
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 15px;
}

form#fmail input.postcode:hover {
    opacity: 0.8;
}

/*-------------------------------------------------------*/
/*
/*  個別指定
/*
/*-------------------------------------------------------*/
#fmail .caution {
    color: #ff0000;
}

#fmail .info {
    color: #009900;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    line-height: 1.5em;
}

#fmail .strong {
    font-weight: bold;
}

.fmail_caution {
    color: #ff0000;
}

/* 送信完了画面 */
#fmail_thankspage .caution {
    color: #ff0000;
}

#fmail_thankspage .info {
    color: #009900;
}

#fmail_thankspage .strong {
    font-weight: bold;
}

#fmail .remail {
    margin-top: 5px;
}

/*メール再入力部分*/
#fmail li {
    display: block;
    float: left;
    padding-left: 2px;
}

* html #fmail li {
    white-space: nowrap;
}

*:first-child+html #fmail li {
    white-space: nowrap;
}

/* ZIPCODE */
#fmail .zipcode input.fmail {
    width: 206px;
}

/* URL */
#fmail .url input {
    width: 300px;
}

/* カレンダーアイコン */
#fmail .datedata input {
    float: left;
}

.ui-datepicker-trigger {
    float: left;
    margin: 5px 0 0 5px;
    padding: 0;
    background: none;
}

.ui-datepicker-trigger,
.ui-datepicker-trigger img {
    width: 24px;
    height: 24px;
    border: 0;
}

/*-------------------------------------------------------*/
/*
/*  カート用項目
/*  ※お問い合わせ入力画面で表示させたくない場合に指定
/*-------------------------------------------------------*/
/*
tr#r_en1339056176 {
  display: none;
}
*/
/*STEP CONTACT*/
.under .step_contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-right: 30px;
}

.under .step_contact li {
    width: calc((100% - 150px) / 3);
    height: 90px;
    padding: 0 50px;
    background: var(--mcolor);
    color: #fff;
    text-align: center;
    font-weight: 700;
    position: relative;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.under .step_contact li .num {
    font-family: var(--en);
    font-size: 24px;
}

.under .step_contact li::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 0 45px 30px;
    border-color: transparent transparent transparent var(--mcolor);
    right: -30px;
    top: 0;
}

.under .step_contact li.active {
    background: #FFCE3C;
}

.under .step_contact li.active::before {
    border-color: transparent transparent transparent #FFCE3C;
}
#d_en1786952779{background: #f9f1cf;}
.fmail_radio_list_cus .list_check_index,.fmail_radio_list_cus .list_check_index .item{display: block;width: 100%;}
.fmail_radio_list_cus .list_check_index .item{width: 100%;margin-bottom: 10px;min-height: 155px;display: flex;align-items: center;flex-direction: column;justify-content: center;}
.fmail_radio_list_cus{display: flex;justify-content:space-between;}
.fmail_radio_list_cus li{width: calc((100% - 40px) / 4);}
#fmail .fmail_radio_list_cus li{padding-left: 0}
.fmail_radio_list_cus li label{flex-direction: column;border: none;justify-content: center;align-items: center;}
.fmail_radio_list_cus li label input{margin: 0 auto}
.fmail_radio_list_cus li label.fmail_label_disabled:hover{background-color: initial}
.fmail_radio_list_cus li label.fmail_label_disabled:hover .item{background: #f00;color:#fff}
.fmail_radio_list_cus li label.fmail_label_disabled:hover .img-icon{filter: brightness(0) invert(1)}

.fmail_radio_list_cus li label.fmail_label_enabled{background-color: initial}
.fmail_radio_list_cus li label.fmail_label_enabled .item{background: #f00;color:#fff}
.fmail_radio_list_cus li label.fmail_label_enabled .img-icon{filter: brightness(0) invert(1)}
.fmail_radio_list_cus .list_check_index .item .img-icon{display: flex;align-items: center;justify-content: center;height: 50px}
.fmail_radio_list_cus .list_check_index .item .img-icon img{width: auto;height: 100%;max-height: 100%;object-fit: cover;}
#fmail .fmail_radio_list_cus li label input{margin: 5px auto 0 auto !important}
@media screen and (min-width: 751px) {

    .submit_confirm_button:hover,
    .submit_send_button:hover,
    .submit_cancel_button:hover,
    .site_top a:hover {
        background-color: var(--scolor);
    }
    
}

@media screen and (max-width: 750px) {
    form#fmail input.postcode {
        border-radius: 0;
        padding: 3px 10px 3px;
        top: -1px;
    }

    #fmail .size_3 input,
    #fmail .size_3 select,
    #fmail .size_3 textarea,
    #fmail .size_4 input,
    #fmail .size_4 select,
    #fmail .size_4 textarea,
    #fmail .size_5 input,
    #fmail .size_5 select,
    #fmail .size_5 textarea,
    #fmail .size_7 input,
    #fmail .size_7 select,
    #fmail .size_7 textarea {
        width: 100% !important;
        box-sizing: border-box;
    }

    #fmail .fmail_radio_list li,
    #fmail .fmail_checkbox_list li {
        width: 100%;
        box-sizing: border-box;
    }


    #fmail .fmail_radio_list li input.fmail,
    #fmail .fmail_checkbox_list li input.fmail {
        width: auto !important;
    }

    #fmail .zipcode input.fmail {
        width: calc(100% - 140px) !important;
        margin-right: 5px;
        box-sizing: border-box;
    }

    span#fmail_title_default,
    span#fmail_title_confirm,
    span#fmail_title_error,
    span#fmail_title_thanks {
        width: 100%;
        box-sizing: border-box;
        line-height: 3.5;
        height: inherit;
        background-size: 100%;
    }

    #fmail input.fmail,
    #fmail .size_6 input,
    #fmail .size_6 select,
    #fmail .size_6 textarea,
    #en1331812811 {
        width: 100% !important;
        box-sizing: border-box;
    }

    dl.mailform:last-child dd {
        margin-bottom: 0;
        margin-top: 15px;
    }

    #fmail input.fmail_file {
        width: 100%;
    }

    div#fmail_thankspage {
        font-size: 14px;
        line-height: 1.8em;
    }

    table div.fmail_must {
        margin: 4px 0px 0px 5px;
    }

    ol.fmail_radio_list li,
    ol.fmail_checkbox_list li {
        padding: 0px;
        margin-bottom: 5px;
    }

    /*STEP CONTACT*/
    .under .step_contact {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }

    .under .step_contact li {
        width: 100%;
        font-size: 16px;
    }

    .under .step_contact li{
        margin-right: 0px;
        margin-bottom: 40px;
        border-radius: 5px;
    }

    .under .step_contact li::before {
        border-width: 30px 0 30px 20px;
        right: 0;
        top: auto;
        transform: rotate(90deg);
        bottom: -40px;
        left: 0;
        margin: 0 auto;
    }

    .button form.fmail_cancel,
    .button form.fmail_submit {
        width: 100%;
        text-align: center;
    }

    #fmail .size_6 input.fmail {
        height: 40px;
    }

    .submit_confirm_button,
    .submit_send_button,
    .submit_cancel_button,
    .site_top a {
        height: 50px;
        font-size: 18px;
        width: 280px;
        background-size: 25px auto;
        background-position: center right 10px;
    }
    .submit_cancel_button{ background-position: center left 10px;}

    .fmail_radio_list_cus .list_check_index .item{min-height: 130px;padding: 10px;}
}

@media screen and (max-width: 560px) {

    .button form.fmail_cancel,
    .button form.fmail_submit {
        width: 100%;
        text-align: center;
    }

    #fmail .info{
        font-size: 12px;
    }
    .fmail_radio_list_cus{flex-wrap: wrap;}
    #fmail .fmail_radio_list_cus li{width: calc(100% / 2);padding-left: 0}
    .fmail_radio_list_cus .list_check_index .item{width:100%;min-height: 120px;}
    #r_en1711012711 td{padding: 20px 0}

}
@media screen and (max-width: 320px) {
    .fmail_radio_list_cus li label.fmail_label_disabled .item{padding: 10px}
}
@media screen\0 {
    table div.fmail_must {
        margin-top: 2px
    }
}

#r_en1711012711 th{display: none !important;}
#r_en1711012711 td{border:none;}
#r_en1711012711 ol.fmail_checkbox_list{text-align: center;display: flex;justify-content: center;}
#en1262055277_match::placeholder{color:rgb(153, 153, 153)}
#d_en1711012711 .info{text-align: center}

